.postContainer {
  width: 50%;
  height: 150px;
  padding: 0.25em;
}

.post {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  padding: 1em;
}

.title {
  cursor: pointer;
}

p.date {
  margin: 0.75em 0;
  color: gray;
  font-size: 1em;
}

@media (max-width: 840px) {
  .postContainer {
    width: 50%;
  }
}

@media (max-width: 780px) {
  .postContainer {
    width: 100%;
  }
}
