@font-face {
  font-family: "Neue Montreal";
  src: local("Neue Montreal"),
    url("./NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Neue Montreal";
  src: local("Neue Montreal"),
    url("./NeueMontreal-Regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Montreal";
  src: local("Neue Montreal"),
    url("./NeueMontreal-Medium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Neue Montreal";
  src: local("Neue Montreal"), url("./NeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neue Montreal", monospace;
  line-height: 1.25;
}

html,
body {
  background: #f6f6f6;
  color: #101010;
}

::selection {
  background: #101010;
  color: #f6f6f6;
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 0.25em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-weight: 600;
  font-size: 1.25em;
}

p {
  font-weight: 400;
  font-size: 1.25em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 0 1.25em;
}

a,
a:visited,
a:active,
a:hover {
  color: rgb(48, 105, 151);
  text-decoration: underline;
}
